<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form>
<div class="gallery">
  <!-- Картки зображень -->
</div>
<button class="btn btn-primary" data-action="load-more" type="button" disabled>
  <span
    class="spinner-border spinner-border-sm spinner is-hidden"
    role="status"
    aria-hidden="true"
  ></span>
  <span class="label">Load more</span>
</button>
